@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700;800&display=swap');

/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */

html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/* CUSTOM CSS */

body{
  background-image: url("https://raw.githubusercontent.com/Deepali25-K/social-proof-section/main/images/bg-pattern-top-mobile.svg"), url("https://raw.githubusercontent.com/Deepali25-K/social-proof-section/main/images/bg-pattern-bottom-mobile.svg");
  background-repeat: no-repeat, no-repeat;
  background-position: top left , bottom right;
  background-color: white;
  font-family: 'League Spartan', sans-serif;
}

main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5rem 0.9rem;
}

.flexbox{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

section{
  text-align: center;
}

section h1{
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 2rem;
  margin-bottom: 1.5rem;
  color: hsl(300, 43%, 22%);
}

section p{
  font-size: 1.1rem;
  font-weight: 500;
  line-height: 1.5rem;
  margin-bottom: 2.2rem;
  color: hsl(303, 10%, 53%);
}

.ratings-container > article{
  width: 20rem;
  margin-bottom: 1rem;
  border-radius: 10px;
  text-align: center;
  padding: 1rem;
  background-color: hsl(300, 24%, 92%);
}

.ratings-container{
  margin-bottom: 2.2rem;
}

span > img{
  margin-right: 0.2rem;
}

h2{
  font-size: 1.05rem;
  font-weight: 700;
  margin-top: 1rem;
  color: hsl(300, 43%, 22%);
}

.reviews-container > article{
  font-size: 0.95rem;
  width: 20rem;
  color: white;
  margin-bottom: 1rem;
  border-radius: 10px;
  padding: 2.2rem;
  background-color: hsl(300, 43%, 22%);
}

.review{
  font-weight: 500;
  margin-top: 1.2rem;
  line-height: 1.4rem;
}

.avatar{
  display: flex;
  gap: 1.3rem;
  align-items: center;
}

.avatar img{
  height: 2.4rem;
  width: 2.4rem;
  border-radius: 50%;
}

.info p{
  font-weight: 400;
  color: hsl(333, 80%, 67%);
}

h3{
  margin-bottom: 0.3rem;
  font-weight: 700;
}

/* MEDIA QUERIES */

@media (min-width: 600px){
  main{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  section{
    width: 34rem;
  } 
}

@media (min-width: 800px){
  .reviews-container{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}

@media (min-width: 1000px){
  body{
    background-image: url("https://raw.githubusercontent.com/Deepali25-K/social-proof-section/main/images/bg-pattern-top-desktop.svg"), url("https://raw.githubusercontent.com/Deepali25-K/social-proof-section/main/images/bg-pattern-bottom-desktop.svg");
  background-repeat: no-repeat, no-repeat;
  background-position: top left , bottom right;
  }
  
  main{
    margin: 1.5rem;
  }
  
  section{
    width: 26rem;
    text-align: left;
  }
  
  .flexbox{
    width: 92vw;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 0;
    margin-right: 0;
  }
  
  section h1{
    font-size: 3rem;
    line-height: 3rem;
  }
  
  .ratings-container article{
    display: flex;
    width: 25rem;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
  }
  
  h2{
    margin-top: 0;
  }
  
}

@media (min-width: 1200px){
  section h1{
    font-size: 3.3rem;
    font-weight: 800;
  }
  
  .reviews-container > article{
    font-size: 1rem;
    width: 22rem;
    padding: 2.5rem 2.2rem;
  }
  
  .avatar img{
    height: 2.6rem;
    width: 2.6rem;
  }
  
  .ratings-container article:nth-child(2){
    margin-left: 2rem;
  }
  
  .ratings-container article:nth-child(3){
    margin-left: 4rem;
  }
  
  .reviews-container{
    gap: 2rem;
  }
  
  .reviews-container article:nth-child(2){
    margin-top: 2rem;
  }
  
  .reviews-container article:nth-child(3){
    margin-top: 4rem;
  }
  
}